.client-view {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box;
}

.view-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.view-container.hide {
  opacity: 0;
  transform: translateX(100%);
}

.view-container.show {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .client-view {
    width: 100%;
    padding: 0 0; 
  }

  .view-container {
    width: 100%;
    height: auto; 
  }
}

@media (max-width: 480px) {
  .client-view {
    width: 100%;
    padding: 0 0;
  }

  .view-container {
    width: 100%;
    height: auto; 
  }
}
