.principal-container {
    background-color: #f4f4f4;
    min-height: 100vh;
    padding: 20px;
}

.vista-general {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.izquierda {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 65%;
}

.derecha {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: 35%;
    margin-left: 15px;
}

.weights-container, .body-pat-percentaje-container, .daily-step-container, .body-composition-container, .exercise-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.weights-container, .body-pat-percentaje-container, .daily-step-container {
    grid-column: span 1;
    min-width: 226px;
    max-height: 100px;
    overflow: hidden;
}

.body-composition-container, .exercise-container {
    grid-column: span 3;
    max-width: 100%;
    max-height: 600px;
    overflow: auto;
}

.heights-container, .water-consumption-container, .IMC-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 250px;
    height: 100%;
    overflow: hidden;
}

.vista-historicos {
    margin-bottom: 10vh;
}


@media (max-width: 600px) {
    .vista-general {
        flex-direction: column;
        padding: 0 30px;
    }

    .izquierda, .derecha {
        width: auto;
    }

    .izquierda {
        display: flex;
        flex-direction: column;
    }
    .derecha{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .weights-container, .body-pat-percentaje-container, .daily-step-container, .body-composition-container, .exercise-container {
        width: 90%;
        max-height: none;
        margin-bottom: 5px;
    }

    .body-composition-container, .exercise-container {
        max-height: none;
    }

    .heights-container, .water-consumption-container, .IMC-conteiner {
        min-height: 100%;
        height: auto;
        
    }
}

@media (min-width: 600px) and (max-width: 1280px) {
    .vista-general {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 40px;
       
    }


    .izquierda {
        display: flex;
        flex-direction: column;
        width: 97%;
    }

    .derecha {
        gap: 2vh;
        margin-top: 4vh;
        width: 92%; 
    }

    .weights-container, .body-pat-percentaje-container, .daily-step-container{
        width: 97%;
    } 
    .body-composition-container, .exercise-container {
        width: 97%;
        max-height: none;
    }

    .body-composition-container, .exercise-container {
        grid-column: span 2;
    }

    .heights-container, .water-consumption-container, .IMC-conteiner {
        width: 100%;
        height: auto;
    }
}

