.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .login-title {
    text-align: center;
    color: #2E8B57;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-login,
  .btn-register {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
  }
  
  .btn-login {
    background-color: #4CAF50; /* Verde para iniciar sesión */
  }
  
  .btn-register {
    background-color: #008CBA; /* Azul para registrarse */
  }
  
  .btn-login:hover,
  .btn-register:hover {
    opacity: 0.9;
  }
  