.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1565C0; /* Color oscuro para estilo moderno */
  padding: 15px 20px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Menú de usuario a la izquierda */
.user-profile-container {
  display: flex;
  align-items: center;
}

/* Estilo del icono de perfil de usuario */
.user-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.user-icon:hover {
  color: #64DD17;
  transform: scale(1.2);
}

/* Icono de importación a la derecha */
.import-data-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.import-data-icon:hover {
  color: #64DD17;
  transform: scale(1.2);
}

/* Ajuste para pantallas móviles */
@media (max-width: 425px) {
  .navbar {
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .user-icon,
  .import-data-icon {
    font-size: 20px;
    margin-right: 10px;
  }
}
